config SYS_SERVICE
	bool "SYS Service"
	help
		Enable System service.

if SYS_SERVICE
rsource "host_service/Kconfig"
endif

rsource "pm_service/Kconfig"
rsource "pmc_service/Kconfig"
rsource "wol/Kconfig"
